asgiref==3.8.1
Django==5.1.6
django-prometheus
django-redis
django-taggit==6.1.0
dotenv==0.9.9
gunicorn==21.2.0
Markdown==3.7
Pygments==2.18.0
psycopg2-binary==2.9.10
pillow==11.1.0
python-dotenv==1.0.1
sqlparse==0.5.3
tzdata==2025.1
social-auth-app-django
certifi
easy-thumbnails==2.10
redis
whitenoise==6.8.2
requests==2.31.0
django-recaptcha==4.0.0
